@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: $bf;
}
.container{
  width: 85vw;
  margin: 0 auto;
}
.App{
  position: relative;
  min-height: 3000px;
  .ariane{
    position: absolute;
    top: 0;
    transform-origin: top;
    transform: scaleY(0.8);
    z-index: -1;
    margin: 0;
  }
  .ariane2{
    display: none
  }
}

@import "common";
@import 'header';
@import 'skill';
@import 'project';

